<header id="header">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="schedule-now">
          <div class="schedule-now-time">{{ header.schedule.time }}</div>
          <div class="schedule-now-title">
            <span class="text">{{ header.schedule.title }}</span>
            <span class="icon">+</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
        <div class="external-ad">
          <img src="{{ header.adImage }}" alt="Publicidade">
          <span>Publicidade</span>
        </div>
      </div>

    </div>
  </div>
</header>